# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.so
*.o
*.a
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Dev/test
src/tests/
tests/
scripts/
logs/
*.log
.coverage
htmlcov/

# Env & secrets
.env
.env.*

# Editor & VCS
.git/
.gitignore
.github/
.vscode/
.idea/
*.md
.python-version

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# CI/CD
.gitlab-ci.yml
.travis.yml
Jenkinsfile

# Misc
*.DS_Store
.editorconfig
