services:
  mariadb-server:
    image: mariadb:11
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: 1234
      MARIADB_DATABASE: enterprise_relation_process_db
      MARIADB_USER: root
      MARIADB_PASSWORD: 1234
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-p'1234'"]
      interval: 5s
      timeout: 3s
      retries: 10
  mariadb-mcp:
    build: .
    container_name: mariadb-mcp
    env_file: .env
    ports:
      - "30003:30003"
    depends_on:
      mariadb-server:
        condition: service_healthy
